@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Oxanium:wght@200..800&family=Racing+Sans+One&display=swap');

:root {
  --primary: #0B0C10;
  --secondary: #66FCF1;
  --tertiary: #C5C6C7;
  --primary-light: #1F2833;
  --secondary-dark: #45A29E;
  --skeleton: #e4e4e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: white;
  font-family: "Oxanium", serif;
}

a {
  text-decoration: none;
}

.content {
  margin-top: 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
}

.list-container header:has(h1) {
  position: relative;
  padding-left: 0.75rem;
}

.list-container header h1 {
  margin: 0;
}

.list-container header::before {
  position: absolute;
  content: '';
  background-color: #0B0C10;
  width: 4px;
  height: 100%;
  left: -4px;
}

.list-container header i {
  margin-left: 0.5rem;
}

.list-container, 
.player-profile,
.club-details
{
  height: 100%;
  padding: 2rem;
  background-color: white;
  color: #0B0C10;
  padding-top: 4rem;
}

.list-container ul {
  list-style-type: none;
}

.letter-group {
  margin: 3rem 0;
  padding-bottom: 3rem;
  border-bottom: solid 1px rgb(20, 20, 20, 0.3);
}

.letter-item {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #0B0C10;
  color: white;
}

#player-list a,
#club-list a
{
  position: relative;
  color: #0B0C10;
}

#player-list a::before ,
#club-list a::before
{
  position: absolute;
  content: '';
  background-color: #0B0C10;
  width: 0;
  height: 2px;
  bottom: -4px;
  transition: 0.3s;
} 

#player-list a:hover::before,
#club-list a:hover::before
{
  width: 100%;
}

.player-profile, 
.club-details
{
  height: 100%;
  min-height: 100vh;
}

#club-list,
#player-list
{
  list-style-type: disc;
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
  flex-wrap: wrap;
  font-weight: 700;
}

.player-club-list {
  padding: 0 1rem;
  padding-top: 5rem;
}

.player-club-list ul {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  margin-top: 1rem;
}

.edit-link {
  margin-left: 0.5rem;
  padding: 8px 16px;
  font-size: 0.75rem;
  background-color: var(--primary-light);
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.search-bar {
    position: relative;
    width: 50vw;
    margin-top: 1rem;
}

.search-bar input {
  width: 100%;
  font-size: 1rem;
  padding: 8px 16px;
}

.search-dropdown-list {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  color: var(--primary);
  border: solid 1px var(--primary);
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}

.search-dropdown-item {
  width: 100%;
  padding: 10px 20px;
  transition: 0.3s;
}

.search-dropdown-item:hover {
  background-color: rgb(235, 235, 235);
}

.search-dropdown-item:not(:last-of-type) {
  border-bottom: solid 1px var(--primary-light);
}

.search-dropdown-item a {
  display: block;
  width: 100%;
  color: #0B0C10;
}

.profile {
  background-color: white;
  height: 100%;
  min-height: 100vh;
}

.profile .wrapper {
  display: flex;
  gap: 1rem;
}

.profile header {
  width: 100%;
  padding: 2rem 0;
  border-bottom: solid 1px var(--primary);
}

.profile .club-logo {
  width: clamp(6rem, 15vw, 12rem);
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  margin: 1rem;
}

.profile .club-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile h1 {
  font-size: clamp(1rem, 3vw, 7rem);
  color: var(--primary);
}

.profile header span {
  color: #0B0C10;
}

.profile header a {
  margin-left: 0.5rem;
  color: white;
  padding: 10px 20px;
}

.profile header i {
  color: var(--primary);
  font-size: 1.5rem;
}

.edit-section {
  background-color: white;
  height: 100%;
  min-height: 100vh;
}

.edit-section h1 {
  color: var(--primary);
  padding-bottom: 1rem;
  border-bottom: solid 1px rgba(20, 20, 20, 0.1);
}

.edit-form-container {
  margin-top: 2rem;
  padding: 2.5rem;
}

.edit-form-container form {
  display: flex;
  flex-direction: column;
}

.edit-form-container * {
  color: var(--primary);
}

.edit-image-container {
  display: inline-block;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.edit-image-container i {
  color: var(--primary);
}

.edit-image-container i:not(.image-box i) {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 50%;
  font-size: 0.9rem;
}

.edit-image-container p {
  margin: 0;
  margin-top: 4px;
  color: #3b3b3b;
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  aspect-ratio: 2 / 1;
  border: dashed 2px #a0a0a0;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.image-box input[type="file"] {
  display: none;
}

.image-box:hover {
  background-color: #f3f3f3;
}

.image-box i {
  font-size: 1.1rem;
}

.image-box span {
  font-weight: 700;
  margin-top: 1rem;
}

.image-box p {
  text-align: center;
  max-width: 75%;
  margin-top: 0.5rem;
}

.edit-form-container .actions {
  display: flex;
  gap: 0.75rem;
  align-self: self-end;
}

.edit-form-container .actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.edit-form-container .actions button.reset {
  border: solid 1px #a0a0a0;
}

.edit-form-container .actions button.reset:hover {
  background-color: rgb(224, 224, 224);
}

.edit-form-container .actions button.submit {
  color: white;
  background-color: var(--primary-light);
}

.edit-form-container .actions button.submit:hover {
  background-color: #141d29;
}

.edit-form-container .form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-weight: 700;
}

.edit-form-container .form-group input {
  padding: 10px 12px;
  border-radius: 5px;
  border: solid 1px var(--skeleton);
  outline: none;
  margin-top: 0.5rem;
}

.skeleton-player-image {
  background-color: #e4e4e4;
  width: 120px;
  aspect-ratio: 1 / 1;
  animation: skeleton-loading 3s ease-in-out infinite;
}

.skeleton-text {
  background-color: var(--skeleton);
  width: clamp(4rem, 15vw, 12rem);
  height: clamp(1rem, 5vh, 6rem);
  animation: skeleton-loading 3s ease-in-out infinite;
}

.dashboard {
  padding: 2rem;
  padding-top: 4rem;
  color: var(--primary);
}

.dashboard header {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px rgba(20, 20, 20, 0.1);
}

.dashboard header::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 100%;
  background-color: var(--primary);
  left: -1rem;
  top: 0;
}

.dashboard header p {
  color: #7a7a7a;
}

.stats {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.stat-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  padding: 1.25rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.7);
}

#player-stat-card {
  background: #060B46;
  background: repeating-linear-gradient(to bottom right, #0B0C10 0%, rgb(21, 25, 31) 50%, rgb(32, 37, 46) 100%);
  color: white;
}

.stat-card .wrapper {
  justify-content: space-between;
}

.stat-card h3 {
  font-size: clamp(1rem, 1.25vw, 3rem);
  font-weight: 400;
}

.stat-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  width: clamp(1.5rem, 2.75vw, 3rem);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  font-size: clamp(0.5rem, 1vw, 1.25rem);
  transition: 0.3s;
}

.stat-card #arrow-link {
  color: black;
  transform: rotate(-45deg);
  transition: 0.3s;
}

#player-stat-card a:hover {
  background-color: var(--primary-light);
  color: rgba(255, 255, 255, 0.3);
}

#player-stat-card a:hover #arrow-link {
  color: white;
}

.stat-card .fa-user {
  font-size: clamp(2rem, 3vw, 6rem);
}

.stat-card .count,
.stat-card .stat-icon
{
  font-size: clamp(2rem, 3vw, 6rem);
  color: white;
  margin-top: 2.5rem;
}

#club-stat-card {
  background: linear-gradient(to bottom right, #FFFFFF 0%, #f5f5f5 100%);
}

#club-stat-card .stat-icon,
#club-stat-card .count
{
  color: var(--primary);
}

#club-stat-card a {
  background-color: rgb(250, 250, 250);
  color: var(--primary);
  border: solid 1px rgb(200, 200, 200);
}

#club-stat-card a:hover {
  background-color: var(--primary);
}

#club-stat-card a:hover i {
  color: white;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--skeleton);
    background-image: linear-gradient(
      90deg,
      var(--skeleton) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      var(--skeleton) 100%
    );
    background-size: 200% 100%;
    background-position: -100% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
