@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Oxanium:wght@200..800&family=Racing+Sans+One&display=swap');

:root {
  --primary: #0B0C10;
  --secondary: #66FCF1;
  --tertiary: #C5C6C7;
  --primary-light: #1F2833;
  --secondary-dark: #45A29E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: white;
  font-family: "Oxanium", serif;
}

body {
  background-color: var(--primary);
}

p {
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

button {
  font-family: "Oxanium", serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  z-index: 100;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0 2rem;
}

.navbar li {
  font-family: "Oxanium", serif;
  z-index: 2;
}

.navbar ul li a {
  font-size: clamp(0.75rem, 0.9vw, 1.25rem);
  text-transform: uppercase;
  position: relative;
  color: white;
  transition: 0.3s;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.3s;
}

.navbar ul li a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.logo {
  font-family: "Jockey One", serif;
  display: flex;
  align-items: center;
}

.logo span {
  color: white;
  font-size: clamp(1.25rem, 2vw, 3rem);
  text-transform: uppercase;
}

.logo .highlight {
  background: #66FCF1;
  background: linear-gradient(to right, #66FCF1 0%, #7FEDFC 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo i {
  font-size: 2rem;
  color: white;
  margin-left: 0.5rem;
}

.colored-icon {
  filter: invert(1);
  mix-blend-mode: difference;
  margin-left: 0.5rem;
}

.content {
  margin-top: 2rem;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.images {
  width: 100%;
  height: 100%;
  position: absolute; 
  display: flex;
  z-index: -1; 
}

.images img {
  width: calc(100% / 4);
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.75) grayscale(0.5);
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to bottom, var(--primary), transparent);
  z-index: 0;  
}

.wrapper {
  display: flex;
  align-items: center;
}

.form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  width: 50vw;
  height: auto;
  padding: 2rem 2.5rem;
  border-radius: 5px;
  opacity: 0.9;
  background-color: var(--primary);
  z-index: 1;  
  font-family: "Oxanium", serif;
}

.form-container .player-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  min-width: 90px;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  border: solid 1px var(--primary-light);
}

.form-container figure span {
  font-size: clamp(0.75rem, 1.5vw, 2rem);
}

.form-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  list-style-type: none;
  padding: 0; 
}

.form-container ul li {
  font-size: clamp(12px, 1.1vw, 24px);
}

.form-container .club-image {
  width: clamp(5rem, 5vw, 6rem);
  aspect-ratio: 1 / 1;
  object-fit: contain;
  padding: 10px;
  border: solid 1px var(--primary-light);
  border-radius: 5px;
}

.form-container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
}

.form-container input[type="text"] {
  font-family: "Oxanium", serif;
  color: white;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: #1F2833;
  width: 100%;
}

.button-list {
  display: flex;
  gap: 1rem;
}

.button-list button {
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: clamp(0.75rem, 0.75vw, 2rem);
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.button-list button.guess {
  background-color: var(--secondary);
}

.button-list button.next {
  background-color: white;
}

.button-list button i {
  margin-left: 0.25rem;
}

.button-list button:hover {
  background-color: #1cddd0;
}

.form-container span {
  margin-top: 1.5rem;
}

.form-container span.hidden {
  opacity: 0;
}

.form-container span.active {
  animation: slideRight 0.2s ease-in-out forwards;
}

.list-container header:has(h1) {
  position: relative;
  padding-left: 0.75rem;
}

.list-container header h1 {
  margin: 0;
}

.list-container header::before {
  position: absolute;
  content: '';
  background-color: #0B0C10;
  width: 4px;
  height: 100%;
  left: -4px;
}

.list-container header i {
  margin-left: 0.5rem;
}

.list-container, 
.player-profile,
.club-details
{
  height: 100%;
  padding: 2rem;
  background-color: white;
  color: #0B0C10;
  padding-top: 4rem;
}

.list-container ul {
  list-style-type: none;
}

.letter-group {
  margin: 3rem 0;
  padding-bottom: 3rem;
  border-bottom: solid 1px rgb(20, 20, 20, 0.3);
}

.letter-item {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #0B0C10;
  color: white;
}

#player-list a,
#club-list a
{
  position: relative;
  color: #0B0C10;
}

#player-list a::before ,
#club-list a::before
{
  position: absolute;
  content: '';
  background-color: #0B0C10;
  width: 0;
  height: 2px;
  bottom: -4px;
  transition: 0.3s;
} 

#player-list a:hover::before,
#club-list a:hover::before
{
  width: 100%;
}

.player-profile, 
.club-details
{
  height: 100%;
  min-height: 100vh;
}

#club-list,
#player-list
{
  list-style-type: disc;
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
  flex-wrap: wrap;
  font-weight: 700;
}

.player-club-list {
  padding: 0 1rem;
  padding-top: 5rem;
}

.player-club-list ul {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  margin-top: 1rem;
}

.edit-link {
  margin-left: 0.5rem;
  padding: 8px 16px;
  font-size: 0.75rem;
  background-color: var(--primary-light);
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.random-player.reveal-animation {
  animation: slideRight 0.3s ease-in-out forwards;
}

.hidden {
  opacity: 0;
}

.feedback {
  background-color: var(--primary-light);
  padding: clamp(8px, 1vw, 16px) clamp(16px, 1.5vw, 24px);
  border-radius: 30px;
  font-size: clamp(0.75rem, 1vw, 1.5rem);
  opacity: 0;
  backdrop-filter: blur(5px);
}

.feedback.error {
  color: rgb(255, 0, 0);
  background-color: #271919;
  animation: slideRight 0.3s ease-in-out forwards;
}

.feedback.success {
  color: rgb(0, 255, 34);
  background-color: #1e2719;
  animation: slideRight 0.3s ease-in-out forwards;
}

.search-bar {
  position: relative;
  width: 50vw;
  margin-top: 1rem;
}

.search-bar input {
  width: 100%;
  font-size: 1rem;
  padding: 8px 16px;
}

.search-dropdown-list {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  color: var(--primary);
  border: solid 1px var(--primary);
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}

.search-dropdown-item {
  width: 100%;
  padding: 10px 20px;
  transition: 0.3s;
}

.search-dropdown-item:hover {
  background-color: rgb(235, 235, 235);
}

.search-dropdown-item:not(:last-of-type) {
  border-bottom: solid 1px var(--primary-light);
}

.search-dropdown-item a {
  display: block;
  width: 100%;
  color: #0B0C10;
}

.profile {
  background-color: white;
  height: 100%;
  min-height: 100vh;
}

.profile .wrapper {
  display: flex;
  gap: 1rem;
}

.profile header {
  width: 100%;
  padding: 2rem 0;
  border-bottom: solid 1px var(--primary);
}

.profile .club-logo {
  width: clamp(6rem, 15vw, 12rem);
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  margin: 1rem;
}

.profile .club-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile h1 {
  font-size: clamp(1rem, 3vw, 7rem);
  color: var(--primary);
}

.profile header span {
  color: #0B0C10;
}

.profile header a {
  margin-left: 0.5rem;
  color: white;
  padding: 10px 20px;
}

.profile header i {
  color: var(--primary);
  font-size: 1.5rem;
}

.edit-section {
  background-color: white;
  height: 100%;
  min-height: 100vh;
}

.edit-section h1 {
  color: var(--primary);
  padding-bottom: 1rem;
  border-bottom: solid 1px rgba(20, 20, 20, 0.1);
}

.edit-form-container {
  margin-top: 2rem;
  padding: 2.5rem;
}

.edit-form-container form {
  display: flex;
  flex-direction: column;
}

.edit-form-container * {
  color: var(--primary);
}

.edit-image-container {
  display: inline-block;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.edit-image-container i {
  color: var(--primary);
}

.edit-image-container i:not(.image-box i) {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 50%;
  font-size: 0.9rem;
}

.edit-image-container p {
  margin: 0;
  margin-top: 4px;
  color: #3b3b3b;
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  aspect-ratio: 2 / 1;
  border: dashed 2px #a0a0a0;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.image-box input[type="file"] {
  display: none;
}

.image-box:hover {
  background-color: #f3f3f3;
}

.image-box i {
  font-size: 1.1rem;
}

.image-box span {
  font-weight: 700;
  margin-top: 1rem;
}

.image-box p {
  text-align: center;
  max-width: 75%;
  margin-top: 0.5rem;
}

.edit-form-container .actions {
  display: flex;
  gap: 0.75rem;
  align-self: self-end;
}

.edit-form-container .actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.edit-form-container .actions button.reset {
  border: solid 1px #a0a0a0;
}

.edit-form-container .actions button.reset:hover {
  background-color: rgb(224, 224, 224);
}

.edit-form-container .actions button.submit {
  color: white;
  background-color: var(--primary-light);
}

.edit-form-container .actions button.submit:hover {
  background-color: #141d29;
}

.edit-form-container .form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-weight: 700;
}

.edit-form-container .form-group input {
  padding: 10px 12px;
  border-radius: 5px;
  border: solid 1px #C5C6C7;
  outline: none;
  margin-top: 0.5rem;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-8px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}